@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Raleway:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  letter-spacing: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

body {
  font-family: Montserrat;
}

.container {
  max-width: 1242px;
  margin: 0 auto;
  padding: 0 6px;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  min-height: 100vh;
  background: url("../img/slider-foto.jpeg") 0 0 no-repeat;
  background-color: #15181f;
  background-size: 100%;
  padding: 40px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-container {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 auto;
          flex: 4 1 auto;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 190px;
  margin: 0 10px 0 0;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .header__logo:hover {
    color: #c7b299;
  }
}

.header__logo-svg {
  fill: currentColor;
}

.header__logo-text {
  font-family: Raleway;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.header__menu {
  margin: 0 10px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-items li {
  list-style-type: none;
  margin: 0 30px 0 0;
}

.header__menu-items li:last-child {
  margin: 0;
}

.header__menu-item {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .header__menu-item:hover {
    color: #c7b299;
  }
}

.header__cart {
  background: none;
  margin: 0 30px 0 0;
}

.header__cart-icon {
  fill: #ffffff;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .header__cart-icon:hover {
    fill: #c7b299;
  }
}

.header__search {
  background: none;
}

.header__search-icon {
  fill: #ffffff;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .header__search-icon:hover {
    fill: #c7b299;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
/*# sourceMappingURL=style.css.map */