@import "style0.scss";
@import "../fonts/fonts.scss";
@import "containers.scss";

@mixin button-style {
    font-family: raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    text-transform: uppercase;
    width: 170px;
    height: 53px;
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    border-radius: 3px;
}
@mixin button-hover {
    color: #998675;
    background-color: #ffffff;
}
@mixin button-active {
    color: #ffffff;
    background-color: #998675;
}
@mixin montserrat($fz, $lh, $fw) {
    font-family: montserrat;
    font-size: $fz + px;
    line-height: $lh;
    font-weight: $fw;
    color: #ffffff;
}
@mixin raleway($fz, $lh, $fw) {
    font-family: Raleway;
    font-size: $fz + px;
    line-height: $lh;
    font-weight: $fw;
    color: #ffffff;
}

@mixin roboto($fz, $lh, $fw) {
    font-family: Roboto;
    font-size: $fz + px;
    line-height: $lh + px;
    font-weight: $fw;
    color: #ffffff;
}

$hover-color: #c7b299;
$active-color: hsl(35, 46%, 47%);
$trans: all 0.25s ease 0s;
$media998: 998px;

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header {
    min-height: 100vh;
    padding: 0 6px;
    background: url("../img/header_background.jpg") 0 0 no-repeat;
    background-color: #15181f;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 0 0 80px 0;

    &__top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        margin: 40px auto 0;
        padding: 0;
    }
    &__logo-container {
        flex: 4 1 auto;
    }

    &__logo {
        display: flex;
        align-items: center;
        max-width: 190px;
        margin: 0 10px 0 0;
        text-decoration: none;
        color: #ffffff;
        transition: $trans;

        @media (min-width: $media998) {
            &:hover {
                color: $hover-color;
            }
        }
        &:active {
            color: $active-color;
        }
    }

    &__logo-svg {
        fill: currentColor;
    }

    &__logo-text {
        font-family: Raleway;
        font-size: 34px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: -0.04em;
    }

    &__menu {
        margin: 0 10px 0 0;
        flex: 1 1 auto;
    }
    &__menu-items {
        display: flex;
    }
    &__menu-items li {
        list-style-type: none;
        margin: 0 30px 0 0;
    }
    &__menu-items li:last-child {
        margin: 0;
    }

    &__menu-item {
        @include montserrat(14, 1.2, 300);
        transition: $trans;

        @media (min-width: $media998) {
            &:hover {
                color: $hover-color;
            }
        }
        &:active {
            color: $active-color;
        }
    }

    &__cart {
        background: none;
        margin: 0 30px 0 0;
    }
    &__cart-icon {
        fill: #ffffff;
        transition: $trans;

        @media (min-width: $media998) {
            &:hover {
                fill: $hover-color;
            }
        }
        &:active {
            fill: $active-color;
        }
    }

    &__search {
        background: none;
    }
    &__search-icon {
        fill: #ffffff;
        transition: $trans;
        @media (min-width: $media998) {
            &:hover {
                fill: $hover-color;
            }
        }
        &:active {
            fill: $active-color;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
    }

    .slider {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        z-index: 2;

        &__left {
            display: block;
            margin-left: 10px;
            width: 40px;
            height: 40px;
            border-top: 2px solid #ffffff;
            border-left: 2px solid #ffffff;
            opacity: 0.5;
            transform: rotate(-45deg);
            transition: $trans;

            @media (min-width: $media998) {
                &:hover {
                    border-top: 2px solid $hover-color;
                    border-left: 2px solid $hover-color;
                }
            }
            &:active {
                border-top: 2px solid $active-color;
                border-left: 2px solid $active-color;
            }
        }

        &__content {
            max-width: 600px;
            margin: 0 auto;
        }
        &__sub-title {
            @include raleway(36, 1.2, 500);
            margin: 0 0 14px 0;
        }
        &__title {
            @include raleway(52, 1.2, 800);
            margin: 0 0 19px 0;
        }
        &__text {
            @include montserrat(16, 24px, 300);
            margin: 0 0 52px 0;
        }
        &__button {
            @include button-style;
            transition: $trans;

            @media (min-width: $media998) {
                &:hover {
                    @include button-hover;
                }
            }
            &:active {
                @include button-active;
            }
        }

        &__right {
            display: block;
            margin-right: 10px;
            width: 40px;
            height: 40px;
            border-top: 2px solid #ffffff;
            border-right: 2px solid #ffffff;
            opacity: 0.5;
            transform: rotate(45deg);

            @media (min-width: $media998) {
                &:hover {
                    border-top: 2px solid $hover-color;
                    border-right: 2px solid $hover-color;
                }
            }
            &:active {
                border-top: 2px solid $active-color;
                border-right: 2px solid $active-color;
            }
        }
    }

    &__pagination {
        display: flex;
        justify-content: center;
        z-index: 2;
        margin: 0 0 42px 0;

        .header__pagination-item {
            display: block;
            width: 15px;
            height: 15px;
            background-color: #ffffff;
            opacity: 0.5;
            border-radius: 50%;
            border: 2px solid transparent;
            margin: 0 10px 0 0;
            transition: $trans;

            @media (min-width: $media998) {
                &:hover {
                    background-color: transparent;
                    border: 2px solid #d3c1ad;
                }
            }
            &:active {
                background-color: $active-color;
                border: 2px solid $active-color;
            }
        }
        .header__pagination-item:last-child {
            margin: 0;
        }
    }
}

.main {
    flex: 1 1 auto;

    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin: 0 auto 80px;

        &__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            flex: 1 1 575px;
        }

        &__item {
            margin: 0 10px 0 0;
            flex: 0 1 275px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            transition: $trans;

            @media (min-width: $media998) {
                &:hover::after {
                    background-color: #c7b299;
                }
                &:hover .services__img {
                    fill: #c7b299;
                }
                &:hover .services__title {
                    color: #c7b299;
                }
            }

            &:active::after {
                background-color: #966120;
            }
            &:hover:active .services__img {
                fill: #966120;
            }
            &:active .services__title {
                color: #966120;
            }
        }
        &__item::after {
            content: "";
            display: block;
            position: absolute;
            width: 70px;
            height: 3px;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            background-color: #f1eee9;
        }

        &__img {
            fill: #555555;
            margin: 0 0 30px 0;
            transition: $trans;
        }

        &__title {
            @include raleway(22, 1.2, 600);
            color: #555555;
            margin: 0 0 20px 0;
            transition: $trans;
        }

        &__text {
            @include montserrat(14, 24px, 300);
            color: #8c8c8c;
            margin: 0 0 30px 0;
        }
    }

    .realization {
        background-color: #fbfaf8;
        padding: 83px 0 0 0;
        position: relative;

        &__title {
            @include raleway(30, 1.2, 600);
            color: #555555;
            margin: 0 0 24px 0;
        }

        &__text {
            @include montserrat(16, 28px, 300);
            color: #8c8c8c;
            margin: 0 0 40px 0;
        }

        &__foto1 {
            position: absolute;
            bottom: 0;
            left: 25%;
            transform: translate(-25%, 0);
        }

        &__foto2 {
            position: relative;
            margin: 0 auto;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 2;
        }

        &__foto3 {
            position: absolute;
            bottom: 0;
            left: 75%;
            transform: translate(-75%, 0);
        }
    }

    .advertisement {
        background-color: #f4f5f8;
        background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
        padding: 50px 0;

        &__container {
            display: flex;
            justify-content: space-between;
        }

        &__content {
            margin: 0 10px 0 0;
        }

        &__title {
            @include raleway(28, 1.2, 400);
            color: #ffffff;
        }
        &__style {
            color: #c7b299;
        }

        &__text {
            @include montserrat(18, 1.2, 300);
            color: #615855;
        }

        &__button {
            @include button-style();
            height: 50px;

            @media (min-width: $media998) {
                &:hover {
                    @include button-hover();
                }
            }
            &:active {
                @include button-active();
            }
        }
    }

    .project {
        padding: 80px 0;

        &__content {
            margin: 0 auto 40px;
        }

        &__title {
            @include raleway(30, 1.2, 600);
            color: #555555;
            margin: 0 0 24px 0;
        }

        &__text {
            @include montserrat(16, 28px, 300);
            color: #8c8c8c;
            margin: 0 0 50px 0;
        }

        &__button {
            padding: 10px 25px;
            margin: 0 10px 0 0;
            background-color: rgba(17, 17, 17, 0);
            border: 1px solid #ebebeb;
            border-radius: 3px;
            @include montserrat(14, 21px, 300);
            color: #8c8c8c;
            transition: $trans;

            @media (min-width: $media998) {
                &:hover {
                    background-color: #998675;
                    color: #ffffff;
                }
            }
            &:active {
                background-color: rgba(17, 17, 17, 0);
                color: #8c8c8c;
            }
        }
        &__button:last-child {
            margin: 0;
        }

        &__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 0 auto 40px;
        }

        &__item {
            margin: 0 5px 30px 0;
            flex: 0 1 370px;
            background-color: #fbfaf8;
            transition: $trans;

            @media (min-width: $media998) {
                &:hover {
                    background-color: #362f2d;
                }
                &:hover .project__container-foto::before {
                    border-bottom: 10px solid #362f2d;
                }
                &:hover .project__item-title {
                    color: #ffffff;
                }
                &:hover .project__item-text {
                    color: #c7b299;
                }
                &:hover .project__items-hover {
                    opacity: 1;
                }
            }
        }

        &__container-foto {
            margin: 0 0 30px 0;
            position: relative;
            transition: $trans;
            position: relative;
        }
        &__container-foto::before {
            content: "";
            display: block;
            position: absolute;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 10px solid #fbfaf8;
            bottom: 0;
            left: 19px;
            z-index: 1;
        }

        &__items-hover {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(17, 17, 17, 0.7);
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        &__link-img {
            fill: #ffffff;
            transition: $trans;

            @media (min-width: $media998) {
                &:hover {
                    fill: $hover-color;
                }
            }
            &:active {
                fill: $active-color;
            }
        }

        &__search-img {
            fill: #ffffff;
            transition: $trans;
            @media (min-width: $media998) {
                &:hover {
                    fill: $hover-color;
                }
            }
            &:active {
                fill: $active-color;
            }
        }

        &__item-title {
            @include raleway(20, 1.2, 500);
            color: #c7b299;
            margin: 0 0 14px 30px;
            transition: $trans;
        }

        &__item-text {
            @include montserrat(14, 20px, 300);
            color: #d1d1d1;
            margin: 0 0 27px 30px;
            transition: $trans;
        }

        &__button-bottom {
            @include button-style();
            display: block;
            margin: 0 auto;
            transition: $trans;

            @media (min-width: $media998) {
                &:hover {
                    @include button-hover();
                }
            }
            &:active {
                @include button-active();
            }
        }
    }

    .video {
        margin: 0 0 80px 0;

        &__container {
            min-height: 705px;
            background: url("../img/back-video.jpg ") 0 0 no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__content {
        }

        &__checkbox {
            display: none;
        }

        &__checkbox:checked ~ .video__container .video__content {
            display: none;
        }

        &__checkbox:checked ~ .video__container {
            background: #202020;
            min-height: auto;
        }
        &__checkbox:checked ~ .video__container .video__video {
            display: block;
        }

        &__container-button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 39px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.2);
            transition: $trans;

            @media (min-width: $media998) {
                &:hover {
                    background-color: #ffffff;
                    opacity: 1;
                }
            }
            &:active {
                color: $active-color;
            }
        }

        &__button {
            fill: #ffffff;
            transition: $trans;

            @media (min-width: $media998) {
                &:hover {
                    fill: $hover-color;
                }
            }
            &:active {
                fill: $active-color;
            }
        }

        &__title {
            @include raleway(30, 1.2, 500);
            margin: 0 0 29px 0;
        }

        &__text {
            @include montserrat(16, 28px, 300);
            margin: 0 0 40px 0;
        }

        &__duratio {
            @include montserrat(14, 24px, 400);
            color: #c7b299;
        }

        &__video {
            display: none;
            width: 100%;
            height: 100%;
            max-height: 705px;
        }
    }

    .excellent {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-align: start;

        // .excellent__info

        &__info {
            flex: 0 1 665px;
        }

        // .excellent__title

        &__title {
            @include raleway(30, 1.2, 600);
            color: #555555;
            margin: 0 0 40px 0;
        }

        // .excellent__text

        &__text {
            @include montserrat(16, 28px, 300);
            color: #8c8c8c;
            margin: 0 0 45px 0;
        }

        // .excellent__list

        &__list {
            margin: 0 0 0 50px;
        }

        &__list li {
            list-style-type: none;
            @include montserrat(16, 32px, 300);
            color: #8c8c8c;
            margin: 0 0 5px 47px;
            position: relative;
        }

        &__list li::before {
            content: "";
            position: absolute;
            display: block;
            width: 21px;
            height: 21px;
            left: -47px;
            top: 5px;
            background: url("../img/excellent-item.png") 0 0 no-repeat;
        }

        &__list li:last-child {
            margin: 0 0 0 47px;
        }
    }

    .statistics {
        padding: 69px 0 60px 0;
        margin: 0 0 82px 0;
        background-color: #f4f5f8;
        background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);

        &__content {
            display: flex;
            justify-content: space-evenly;
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__item::after {
            content: "";
            display: block;
            height: 2px;
            width: 30px;
            background-color: #ffffff;
        }

        &__image {
            fill: #c7b299;
            margin: 0 0 30px 0;
        }

        &__figure {
            @include montserrat(48, 36px, 200);
            margin: 0 0 21px 0;
        }

        &__text {
            @include montserrat(14, 20px, 300);
            color: #c7b299;
            text-transform: uppercase;
            margin: 0 0 30px 0;
        }
    }

    .posts {
        margin: 0 0 80px 0;

        &__title {
            @include raleway(30, 1.2, 600);
            color: #555555;
            margin: 0 0 30px 0;
            text-align: center;
            transition: $trans;
        }

        &__text {
            @include montserrat(16, 28px, 300);
            color: #8c8c8c;
            margin: 0 auto 40px;
            transition: $trans;
        }

        &__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto 40px;
        }

        &__item {
            flex: 0 1 370px;
            margin: 0 5px 0 0;
            position: relative;
            transition: $trans;

            @media (min-width: $media998) {
                &:hover {
                    background-color: #362f2d;
                }
                &:hover .posts__item-title {
                    color: #c7b299;
                }
                &:hover .posts__item-text {
                    color: #ffffff;
                }
                &:hover .posts__more {
                    color: #c7b299;
                }
                &:hover .posts__image {
                    filter: brightness(33%);
                }
                &:hover .posts__data {
                    background-color: #c7b299;
                }
                &:hover .posts__month {
                    background-color: #a48d72;
                }
            }
        }

        &__image {
            margin: 0 0 30px 0;
            position: relative;
            transition: $trans;
        }

        &__image-pagination {
            display: flex;
            justify-content: center;
            z-index: 2;
            margin: 0 auto;
            position: absolute;
            top: 185px;
            left: 50%;
            transform: translate(-50%, 0px);

            .posts__image-pagination-item {
                display: block;
                width: 11px;
                height: 11px;
                background-color: #ffffff;
                opacity: 0.3;
                border-radius: 50%;
                border: 2px solid transparent;
                margin: 0 9px 0 0;
                transition: $trans;

                @media (min-width: $media998) {
                    &:hover {
                        background-color: rgba(255, 255, 255, 0);
                        border: 2px solid #d3c1ad;
                    }
                }
                &:active {
                    background-color: $active-color;
                    border: 2px solid $active-color;
                }
            }
            .posts__image-pagination-item:last-child {
                margin: 0;
            }
        }

        &__item-title {
            @include raleway(20, 1.2, 500);
            color: #555555;
            margin: 0 0 19px 29px;
        }

        &__item-text {
            @include montserrat(14, 22px, 300);
            color: #8c8c8c;
            margin: 0 0 27px 29px;
        }

        &__more {
            display: block;
            max-width: max-content;
            @include montserrat(14, 20px, 300);
            color: #c7b299;
            margin: 0 0 33px 29px;
            position: relative;

            &::after {
                content: "";
                display: block;
                position: absolute;
                border-top: 4px solid transparent;
                border-left: 5px solid #c7b299;
                border-bottom: 4px solid transparent;
                top: 5px;
                right: -17px;
            }
        }

        &__data-container {
            position: absolute;
            left: 20px;
            top: 20px;
            width: 50px;
            height: 60px;
            text-align: center;
        }

        &__data {
            @include montserrat(24, 20px, 300);
            line-height: 35px;
            background-color: #363636;
            border-radius: 3px 3px 0px 0px;
            transition: $trans;
        }

        &__month {
            display: block;
            @include roboto(12, 20, 400);
            background-color: #252525;
            border-radius: 0px 0px 3px 3px;
            transition: $trans;
        }

        &__pagination {
            margin: 0 auto;
            max-width: max-content;
        }

        &__pagination-image1 {
            margin: 0 8px 0 0;
            fill: #d1d1d1;
        }
        &__pagination-image2 {
            margin: 0 8px 0 0;
            fill: #c7b299;
        }
    }
}

.footer {
}
