* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  letter-spacing: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 200;
  src: local("Awesome Font"), url("../fonts/montserrat-extralight.woff2") format("woff2"), url("../fonts/montserrat-extralight.woff") format("woff"), url("../fonts/montserrat-extralight.ttf") format("ttf"), url("../fonts/montserrat-extralight.eot") format("eot"), url("../fonts/montserrat-extralight.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 300;
  src: local("Awesome Font"), url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.ttf") format("ttf"), url("../fonts/montserrat-light.eot") format("eot"), url("../fonts/montserrat-light.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Awesome Font"), url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("ttf"), url("../fonts/montserrat-regular.eot") format("eot"), url("../fonts/montserrat-regular.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 700;
  src: local("Awesome Font"), url("../fonts/raleway-bold.woff2") format("woff2"), url("../fonts/raleway-bold.woff") format("woff"), url("../fonts/raleway-bold.ttf") format("ttf"), url("../fonts/raleway-bold.eot") format("eot"), url("../fonts/raleway-bold.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: local("Awesome Font"), url("../fonts/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway-extrabold.woff") format("woff"), url("../fonts/raleway-extrabold.ttf") format("ttf"), url("../fonts/raleway-extrabold.eot") format("eot"), url("../fonts/raleway-extrabold.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 500;
  src: local("Awesome Font"), url("../fonts/raleway-medium.woff2") format("woff2"), url("../fonts/raleway-medium.woff") format("woff"), url("../fonts/raleway-medium.ttf") format("ttf"), url("../fonts/raleway-medium.eot") format("eot"), url("../fonts/raleway-medium.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 400;
  src: local("Awesome Font"), url("../fonts/raleway-regular.woff2") format("woff2"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("ttf"), url("../fonts/raleway-regular.eot") format("eot"), url("../fonts/raleway-regular.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 600;
  src: local("Awesome Font"), url("../fonts/raleway-semibold.woff2") format("woff2"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("ttf"), url("../fonts/raleway-semibold.eot") format("eot"), url("../fonts/raleway-semibold.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Awesome Font"), url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("ttf"), url("../fonts/roboto-regular.eot") format("eot");
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1182px;
  margin: 0 auto;
  padding: 0 6px;
}

.container-slider {
  max-width: 1632px;
  margin: 0 auto;
}

.conteiner-center {
  max-width: 782px;
  margin: 0 auto;
  padding: 0 6px;
  text-align: center;
}

.conteiner-center-video {
  max-width: 770px;
  margin: 0 auto;
  padding: 0 6px;
  text-align: center;
}

.header {
  min-height: 100vh;
  padding: 0 6px;
  background: url("../scr/header/img-header/header_background.jpg") 0 0 no-repeat;
  background-color: #15181f;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 0 0 80px 0;
}

.header__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  margin: 40px auto 0;
  padding: 0;
}

.header__logo-container {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 auto;
          flex: 4 1 auto;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 190px;
  margin: 0 10px 0 0;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .header__logo:hover {
    color: #c7b299;
  }
}

.header__logo:active {
  color: #af8141;
}

.header__logo-svg {
  fill: currentColor;
}

.header__logo-text {
  font-family: Raleway;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.header__menu {
  margin: 0 10px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-items li {
  list-style-type: none;
  margin: 0 30px 0 0;
}

.header__menu-items li:last-child {
  margin: 0;
}

.header__menu-item {
  font-family: montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .header__menu-item:hover {
    color: #c7b299;
  }
}

.header__menu-item:active {
  color: #af8141;
}

.header__cart {
  background: none;
  margin: 0 30px 0 0;
}

.header__cart-icon {
  fill: #ffffff;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .header__cart-icon:hover {
    fill: #c7b299;
  }
}

.header__cart-icon:active {
  fill: #af8141;
}

.header__search {
  background: none;
}

.header__search-icon {
  fill: #ffffff;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .header__search-icon:hover {
    fill: #c7b299;
  }
}

.header__search-icon:active {
  fill: #af8141;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.header__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  margin: 0 0 42px 0;
}

.header__pagination .header__pagination-item {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 50%;
  border: 2px solid transparent;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .header__pagination .header__pagination-item:hover {
    background-color: transparent;
    border: 2px solid #d3c1ad;
  }
}

.header__pagination .header__pagination-item:active {
  background-color: #af8141;
  border: 2px solid #af8141;
}

.header__pagination .header__pagination-item:last-child {
  margin: 0;
}

.slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 2;
}

.slider__left {
  display: block;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  opacity: 0.5;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .slider__left:hover {
    border-top: 2px solid #c7b299;
    border-left: 2px solid #c7b299;
  }
}

.slider__left:active {
  border-top: 2px solid #af8141;
  border-left: 2px solid #af8141;
}

.slider__content {
  max-width: 600px;
  margin: 0 auto;
}

.slider__sub-title {
  font-family: Raleway;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  margin: 0 0 14px 0;
}

.slider__title {
  font-family: Raleway;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #ffffff;
  margin: 0 0 19px 0;
}

.slider__text {
  font-family: montserrat;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  margin: 0 0 52px 0;
}

.slider__button {
  font-family: raleway;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  text-transform: uppercase;
  width: 170px;
  height: 53px;
  background-color: #998675;
  -webkit-box-shadow: inset 0px -3px 0px 0px #736357;
          box-shadow: inset 0px -3px 0px 0px #736357;
  border-radius: 3px;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .slider__button:hover {
    color: #998675;
    background-color: #ffffff;
  }
}

.slider__button:active {
  color: #ffffff;
  background-color: #998675;
}

.slider__right {
  display: block;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  opacity: 0.5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 998px) {
  .slider__right:hover {
    border-top: 2px solid #c7b299;
    border-right: 2px solid #c7b299;
  }
}

.slider__right:active {
  border-top: 2px solid #af8141;
  border-right: 2px solid #af8141;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto 80px;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 575px;
          flex: 1 1 575px;
}

.services__item {
  margin: 0 10px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 275px;
          flex: 0 1 275px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .services__item:hover::after {
    background-color: #c7b299;
  }
  .services__item:hover .services__img {
    fill: #c7b299;
  }
  .services__item:hover .services__title {
    color: #c7b299;
  }
}

.services__item:active::after {
  background-color: #966120;
}

.services__item:hover:active .services__img {
  fill: #966120;
}

.services__item:active .services__title {
  color: #966120;
}

.services__item::after {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  height: 3px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #f1eee9;
}

.services__img {
  fill: #555555;
  margin: 0 0 30px 0;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.services__title {
  font-family: Raleway;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  color: #555555;
  margin: 0 0 20px 0;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.services__text {
  font-family: montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  color: #8c8c8c;
  margin: 0 0 30px 0;
}

.realization {
  background-color: #fbfaf8;
  padding: 83px 0 0 0;
  position: relative;
}

.realization__title {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  color: #555555;
  margin: 0 0 24px 0;
}

.realization__text {
  font-family: montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  color: #8c8c8c;
  margin: 0 0 40px 0;
}

.realization__foto1 {
  position: absolute;
  bottom: 0;
  left: 25%;
  -webkit-transform: translate(-25%, 0);
          transform: translate(-25%, 0);
}

.realization__foto2 {
  position: relative;
  margin: 0 auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 2;
}

.realization__foto3 {
  position: absolute;
  bottom: 0;
  left: 75%;
  -webkit-transform: translate(-75%, 0);
          transform: translate(-75%, 0);
}

.advertisement {
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  padding: 50px 0;
}

.advertisement__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advertisement__content {
  margin: 0 10px 0 0;
}

.advertisement__title {
  font-family: Raleway;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  color: #ffffff;
}

.advertisement__style {
  color: #c7b299;
}

.advertisement__text {
  font-family: montserrat;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  color: #615855;
}

.advertisement__button {
  font-family: raleway;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  text-transform: uppercase;
  width: 170px;
  height: 53px;
  background-color: #998675;
  -webkit-box-shadow: inset 0px -3px 0px 0px #736357;
          box-shadow: inset 0px -3px 0px 0px #736357;
  border-radius: 3px;
  height: 50px;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .advertisement__button:hover {
    color: #998675;
    background-color: #ffffff;
  }
}

.advertisement__button:active {
  color: #ffffff;
  background-color: #998675;
}

.project {
  padding: 80px 0;
}

.project__content {
  margin: 0 auto 40px;
}

.project__title {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  color: #555555;
  margin: 0 0 24px 0;
}

.project__text {
  font-family: montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  color: #8c8c8c;
  margin: 0 0 50px 0;
}

.project__button {
  padding: 10px 25px;
  margin: 0 10px 0 0;
  background-color: rgba(17, 17, 17, 0);
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-family: montserrat;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #ffffff;
  color: #8c8c8c;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .project__button:hover {
    background-color: #998675;
    color: #ffffff;
  }
}

.project__button:active {
  background-color: rgba(17, 17, 17, 0);
  color: #8c8c8c;
}

.project__button:last-child {
  margin: 0;
}

.project__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto 40px;
}

.project__item {
  margin: 0 5px 30px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
  background-color: #fbfaf8;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .project__item:hover {
    background-color: #362f2d;
  }
  .project__item:hover .project__container-foto::before {
    border-bottom: 10px solid #362f2d;
  }
  .project__item:hover .project__item-title {
    color: #ffffff;
  }
  .project__item:hover .project__item-text {
    color: #c7b299;
  }
  .project__item:hover .project__items-hover {
    opacity: 1;
  }
}

.project__container-foto {
  margin: 0 0 30px 0;
  position: relative;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  position: relative;
}

.project__container-foto::before {
  content: "";
  display: block;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  bottom: 0;
  left: 19px;
  z-index: 1;
}

.project__items-hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__link-img {
  fill: #ffffff;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .project__link-img:hover {
    fill: #c7b299;
  }
}

.project__link-img:active {
  fill: #af8141;
}

.project__search-img {
  fill: #ffffff;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .project__search-img:hover {
    fill: #c7b299;
  }
}

.project__search-img:active {
  fill: #af8141;
}

.project__item-title {
  font-family: Raleway;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  color: #c7b299;
  margin: 0 0 14px 30px;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.project__item-text {
  font-family: montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  color: #d1d1d1;
  margin: 0 0 27px 30px;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.project__button-bottom {
  font-family: raleway;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  text-transform: uppercase;
  width: 170px;
  height: 53px;
  background-color: #998675;
  -webkit-box-shadow: inset 0px -3px 0px 0px #736357;
          box-shadow: inset 0px -3px 0px 0px #736357;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .project__button-bottom:hover {
    color: #998675;
    background-color: #ffffff;
  }
}

.project__button-bottom:active {
  color: #ffffff;
  background-color: #998675;
}

.video {
  margin: 0 0 80px 0;
}

.video__container {
  min-height: 705px;
  background: url("../scr/main/video/img/back-video.jpg") 0 0 no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__checkbox {
  display: none;
}

.video__checkbox:checked ~ .video__container .video__content {
  display: none;
}

.video__checkbox:checked ~ .video__container {
  background: #202020;
  min-height: auto;
}

.video__checkbox:checked ~ .video__container .video__video {
  display: block;
}

.video__container-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 39px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .video__container-button:hover {
    background-color: #ffffff;
    opacity: 1;
  }
}

.video__container-button:active {
  color: #af8141;
}

.video__button {
  fill: #ffffff;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .video__button:hover {
    fill: #c7b299;
  }
}

.video__button:active {
  fill: #af8141;
}

.video__title {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  margin: 0 0 29px 0;
}

.video__text {
  font-family: montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  margin: 0 0 40px 0;
}

.video__duratio {
  font-family: montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  color: #c7b299;
}

.video__video {
  display: none;
  width: 100%;
  height: 100%;
  max-height: 705px;
}

.excellent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
}

.excellent__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 665px;
          flex: 0 1 665px;
}

.excellent__title {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  color: #555555;
  margin: 0 0 40px 0;
}

.excellent__text {
  font-family: montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  color: #8c8c8c;
  margin: 0 0 45px 0;
}

.excellent__list {
  margin: 0 0 0 50px;
}

.excellent__list li {
  list-style-type: none;
  font-family: montserrat;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  color: #ffffff;
  color: #8c8c8c;
  margin: 0 0 5px 47px;
  position: relative;
}

.excellent__list li::before {
  content: "";
  position: absolute;
  display: block;
  width: 21px;
  height: 21px;
  left: -47px;
  top: 5px;
  background: url("../scr/main/excellent/img/excellent-item.png") 0 0 no-repeat;
}

.excellent__list li:last-child {
  margin: 0 0 0 47px;
}

.statistics {
  padding: 69px 0 60px 0;
  margin: 0 0 82px 0;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.statistics__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.statistics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics__item::after {
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  background-color: #ffffff;
}

.statistics__image {
  fill: #c7b299;
  margin: 0 0 30px 0;
}

.statistics__figure {
  font-family: montserrat;
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #ffffff;
  margin: 0 0 21px 0;
}

.statistics__text {
  font-family: montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  color: #c7b299;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.posts {
  margin: 0 0 80px 0;
}

.posts__title {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  color: #555555;
  margin: 0 0 30px 0;
  text-align: center;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.posts__text {
  font-family: montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  color: #8c8c8c;
  margin: 0 auto 40px;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.posts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 40px;
}

.posts__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 370px;
          flex: 0 0 370px;
  margin: 0 5px 0 0;
  position: relative;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .posts__item:hover {
    background-color: #362f2d;
  }
  .posts__item:hover .posts__item-title {
    color: #c7b299;
  }
  .posts__item:hover .posts__item-text {
    color: #ffffff;
  }
  .posts__item:hover .posts__more {
    color: #c7b299;
  }
  .posts__item:hover .posts__image {
    -webkit-filter: brightness(33%);
            filter: brightness(33%);
  }
  .posts__item:hover .posts__data {
    background-color: #c7b299;
  }
  .posts__item:hover .posts__month {
    background-color: #a48d72;
  }
}

.posts__image {
  margin: 0 0 30px 0;
  position: relative;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.posts__image-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  margin: 0 auto;
  position: absolute;
  top: 185px;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.posts__image-pagination .posts__image-pagination-item {
  display: block;
  width: 11px;
  height: 11px;
  background-color: #ffffff;
  opacity: 0.3;
  border-radius: 50%;
  border: 2px solid transparent;
  margin: 0 9px 0 0;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .posts__image-pagination .posts__image-pagination-item:hover {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #d3c1ad;
  }
}

.posts__image-pagination .posts__image-pagination-item:active {
  background-color: #af8141;
  border: 2px solid #af8141;
}

.posts__image-pagination .posts__image-pagination-item:last-child {
  margin: 0;
}

.posts__item-title {
  font-family: Raleway;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  color: #555555;
  margin: 0 0 19px 29px;
}

.posts__item-text {
  font-family: montserrat;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #ffffff;
  color: #8c8c8c;
  margin: 0 0 27px 29px;
}

.posts__more {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-family: montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  color: #c7b299;
  margin: 0 0 33px 29px;
  position: relative;
}

.posts__more::after {
  content: "";
  display: block;
  position: absolute;
  border-top: 4px solid transparent;
  border-left: 5px solid #c7b299;
  border-bottom: 4px solid transparent;
  top: 6px;
  right: -17px;
}

.posts__data-container {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 50px;
  height: 60px;
  text-align: center;
}

.posts__data {
  font-family: montserrat;
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  line-height: 35px;
  background-color: #363636;
  border-radius: 3px 3px 0px 0px;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.posts__month {
  display: block;
  font-family: Roboto;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #252525;
  border-radius: 0px 0px 3px 3px;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.posts__pagination {
  margin: 0 auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.posts__pagination-image1 {
  margin: 0 8px 0 0;
  fill: #d1d1d1;
}

.posts__pagination-image2 {
  margin: 0 8px 0 0;
  fill: #c7b299;
}

.partners {
  padding: 140px 0;
  background: url("../scr/main/partners/img/partners_back.jpg") 0 0 no-repeat;
  background-size: cover;
  background-color: #15181f;
  position: relative;
}

@media (min-width: 580px) {
  .partners__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.partners__container {
  margin: 0 auto 50px;
}

@media (min-width: 580px) {
  .partners__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 50px 0;
  }
  .partners__container:last-child {
    margin: 0;
  }
}

@media (min-width: 900px) {
  .partners__container {
    margin: 0 50px 50px 0;
  }
  .partners__container:last-child {
    margin: 0;
  }
}

.partners__image {
  display: block;
  margin: 0 auto 50px;
}

@media (min-width: 580px) {
  .partners__image {
    margin: 0 20px 50px 20px;
  }
  .partners__image:last-child {
    margin: 0;
  }
}

@media (min-width: 900px) {
  .partners__image {
    margin: 0 50px 50px 0;
  }
  .partners__image:last-child {
    margin: 0;
  }
}

.footer-top {
  padding: 80px 0;
  background-color: #191919;
}

.footer-top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-top__items {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top__items:last-child {
  margin: 0;
}

@media (min-width: 640px) {
  .footer-top__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 49%;
            flex: 1 1 49%;
    margin: 0 20px 0 0;
  }
}

.footer-top__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
  margin: 0 20px 0 0;
}

.footer-top__item:last-child {
  margin: 0;
}

.footer-top__logo-container {
  margin: 0 0 29px 0;
}

.footer-top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 190px;
  margin: 0 10px 0 0;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .footer-top__logo:hover {
    color: #c7b299;
  }
}

.footer-top__logo:active {
  color: #af8141;
}

.footer-top__svg {
  fill: currentColor;
}

.footer-top__text-logo {
  font-family: Raleway;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.footer-top__text {
  font-family: montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  color: #555555;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.footer-top__more {
  display: block;
  font-family: montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  color: #d1d1d1;
  margin: 33px 0 0 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  position: relative;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.footer-top__more::after {
  content: "";
  display: block;
  position: absolute;
  border-top: 4px solid transparent;
  border-left: 5px solid #d1d1d1;
  border-bottom: 4px solid transparent;
  top: 6px;
  right: -17px;
}

@media (min-width: 998px) {
  .footer-top__more:hover {
    color: #c7b299;
  }
  .footer-top__more:hover::after {
    border-left: 5px solid #c7b299;
  }
}

.footer-top__more:active {
  color: #af8141;
}

.footer-top__title {
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 33px 0;
}

.footer-top__post {
  border-bottom: 2px solid #252525;
  margin: 0 0 33px 0;
}

.footer-top__post:last-child {
  border: none;
}

@media (min-width: 998px) {
  .footer-top__post:hover .footer-top__data {
    color: #ffffff;
  }
  .footer-top__post:hover .footer-top__text {
    color: #c7b299;
  }
}

.footer-top__data {
  font-family: montserrat;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  color: #363636;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.footer-top__span {
  color: #00bff3;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .footer-top__span:hover {
    color: #088cb1;
  }
}

.footer-top__span:active {
  color: #00bff3;
}

.footer-top__link {
  font-family: montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  color: #959595;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .footer-top__link:hover {
    color: #c7b299;
  }
}

.footer-top__link:active {
  color: #af8141;
}

.footer-top__widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px 0;
}

.footer-top__widget:last-child {
  margin: 0;
}

.footer-top__image {
  margin: 0 10px 0 0;
}

.footer-top__image:last-child {
  margin: 0;
}

.footer-bottom {
  padding: 45px 0 52px;
  background-color: #111111;
}

.footer-bottom__items {
  text-align: center;
}

@media (min-width: 450px) {
  .footer-bottom__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-bottom__item:last-child {
  margin: 0;
}

@media (min-width: 450px) {
  .footer-bottom__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 10px 0 0;
  }
}

@media (max-width: 760px) {
  .footer-bottom__item {
    margin: 0 0 20px 0;
  }
}

.footer-bottom__text {
  font-family: montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  color: #555555;
  margin: 0 0 20px 0;
  padding: 0 12px;
  border-right: 1px solid #252525;
}

.footer-bottom__text:last-child {
  border-right: none;
}

@media (min-width: 450px) {
  .footer-bottom__text {
    margin: 0;
  }
}

.footer-bottom__link-waxom {
  font-family: montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  color: #959595;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .footer-bottom__link-waxom:hover {
    color: #c7b299;
  }
}

.footer-bottom__link-waxom:active {
  color: #af8141;
}

.footer-bottom__link {
  font-family: montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  color: #555555;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  padding: 0 12px;
  border-right: 1px solid #252525;
  transition: all 0.25s ease 0s;
}

.footer-bottom__link:last-child {
  border-right: none;
}

@media (min-width: 998px) {
  .footer-bottom__link:hover {
    color: #c7b299;
  }
}

.footer-bottom__link:active {
  color: #af8141;
}
/*# sourceMappingURL=style.css.map */