@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Raleway:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  letter-spacing: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

.container {
  max-width: 1182px;
  margin: 0 auto;
  padding: 0 6px;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  min-height: 100vh;
  padding: 0 6px;
  background: url("../img/header_background.jpg") 0 0 no-repeat;
  background-color: #15181f;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 0 0 80px 0;
}

.header__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  margin: 40px auto 0;
  padding: 0;
}

.header__logo-container {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 auto;
          flex: 4 1 auto;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 190px;
  margin: 0 10px 0 0;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .header__logo:hover {
    color: #c7b299;
  }
}

.header__logo:active {
  color: #af8141;
}

.header__logo-svg {
  fill: currentColor;
}

.header__logo-text {
  font-family: Raleway;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.header__menu {
  margin: 0 10px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-items li {
  list-style-type: none;
  margin: 0 30px 0 0;
}

.header__menu-items li:last-child {
  margin: 0;
}

.header__menu-item {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .header__menu-item:hover {
    color: #c7b299;
  }
}

.header__menu-item:active {
  color: #af8141;
}

.header__cart {
  background: none;
  margin: 0 30px 0 0;
}

.header__cart-icon {
  fill: #ffffff;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .header__cart-icon:hover {
    fill: #c7b299;
  }
}

.header__cart-icon:active {
  fill: #af8141;
}

.header__search {
  background: none;
}

.header__search-icon {
  fill: #ffffff;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .header__search-icon:hover {
    fill: #c7b299;
  }
}

.header__search-icon:active {
  fill: #af8141;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.container-slider {
  max-width: 1632px;
  margin: 0 auto;
}

.slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 2;
}

.slider__left {
  display: block;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  opacity: 0.5;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .slider__left:hover {
    border-top: 2px solid #c7b299;
    border-left: 2px solid #c7b299;
  }
}

.slider__left:active {
  border-top: 2px solid #af8141;
  border-left: 2px solid #af8141;
}

.slider__content {
  max-width: 600px;
  margin: 0 auto;
}

.slider__sub-title {
  font-family: Raleway;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  margin: 0 0 14px 0;
}

.slider__title {
  font-family: Raleway;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #ffffff;
  margin: 0 0 19px 0;
}

.slider__text {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  margin: 0 0 52px 0;
}

.slider__button {
  font-family: Raleway;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  text-transform: uppercase;
  width: 170px;
  height: 53px;
  background-color: #998675;
  -webkit-box-shadow: inset 0px -3px 0px 0px #736357;
          box-shadow: inset 0px -3px 0px 0px #736357;
  border-radius: 3px;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .slider__button:hover {
    color: #998675;
    background-color: #ffffff;
  }
}

.slider__button:active {
  color: #ffffff;
  background-color: #998675;
}

.slider__right {
  display: block;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  opacity: 0.5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 998px) {
  .slider__right:hover {
    border-top: 2px solid #c7b299;
    border-right: 2px solid #c7b299;
  }
}

.slider__right:active {
  border-top: 2px solid #af8141;
  border-right: 2px solid #af8141;
}

.header__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  margin: 0 0 42px 0;
}

.header__pagination .header__pagination-item {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 50%;
  border: 2px solid transparent;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.header__pagination .header__pagination-item:last-child {
  margin: 0;
}

@media (min-width: 998px) {
  .header__pagination .header__pagination-item:hover {
    background-color: transparent;
    border: 2px solid #d3c1ad;
  }
}

.header__pagination .header__pagination-item:active {
  background-color: #af8141;
  border: 2px solid #af8141;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto 80px;
}

.main .services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 575px;
          flex: 1 1 575px;
}

.main .services__item {
  margin: 0 10px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 275px;
          flex: 0 1 275px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .services__item::after {
  content: '';
  display: block;
  position: absolute;
  width: 70px;
  height: 3px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #f1eee9;
}

@media (min-width: 998px) {
  .main .services .services__item:hover::after {
    background-color: #c7b299;
  }
}

.main .services .services__item:active::after {
  background-color: #966120;
}

.main .services__img {
  fill: #555555;
  margin: 0 0 30px 0;
}

@media (min-width: 998px) {
  .main .services .services__item:hover .services__img {
    fill: #c7b299;
  }
}

.main .services .services__item:hover:active .services__img {
  fill: #966120;
}

.main .services__title {
  font-family: Raleway;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  color: #555555;
  margin: 0 0 20px 0;
}

@media (min-width: 998px) {
  .main .services .services__item:hover .services__title {
    color: #c7b299;
  }
}

.main .services .services__item:active .services__title {
  color: #966120;
}

.main .services__text {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  color: #8c8c8c;
  margin: 0 0 30px 0;
}
/*# sourceMappingURL=style.css.map */