.excellent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: start;

    // .excellent__info

    &__info {
        flex: 0 1 665px;
    }

    // .excellent__title

    &__title {
        @include raleway(30, 1.2, 600);
        color: #555555;
        margin: 0 0 40px 0;
    }

    // .excellent__text

    &__text {
        @include montserrat(16, 28px, 300);
        color: #8c8c8c;
        margin: 0 0 45px 0;
    }

    // .excellent__list

    &__list {
        margin: 0 0 0 50px;
    }

    &__list li {
        list-style-type: none;
        @include montserrat(16, 32px, 300);
        color: #8c8c8c;
        margin: 0 0 5px 47px;
        position: relative;
    }

    &__list li::before {
        content: "";
        position: absolute;
        display: block;
        width: 21px;
        height: 21px;
        left: -47px;
        top: 5px;
        background: url("../scr/main/excellent/img/excellent-item.png") 0 0 no-repeat;
    }

    &__list li:last-child {
        margin: 0 0 0 47px;
    }
}
