.posts {
  margin: 0 0 80px 0;
}

.posts__title {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  color: #555555;
  margin: 0 0 30px 0;
  text-align: center;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.posts__text {
  font-family: montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  color: #8c8c8c;
  margin: 0 auto 40px;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.posts__items {
  text-align: center;
}

@media (min-width: 760px) {
  .posts__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto 40px;
  }
}

.posts__item {
  margin: 0 0 20px 0;
}

@media (min-width: 760px) {
  .posts__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 32%;
            flex: 0 1 32%;
    margin: 0 5px 0 0;
    -webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
  }
}

@media (min-width: 998px) {
  .posts__item:hover {
    background-color: #362f2d;
  }
  .posts__item:hover .posts__item-title {
    color: #c7b299;
  }
  .posts__item:hover .posts__item-text {
    color: #ffffff;
  }
  .posts__item:hover .posts__more {
    color: #c7b299;
  }
  .posts__item:hover .posts__image {
    -webkit-filter: brightness(33%);
            filter: brightness(33%);
  }
  .posts__item:hover .posts__data {
    background-color: #c7b299;
  }
  .posts__item:hover .posts__month {
    background-color: #a48d72;
  }
}

.posts__container-image {
  position: relative;
}

.posts__image {
  max-width: 100%;
  margin: 0 0 30px 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.posts__image-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  margin: 0 auto;
  position: absolute;
  top: 185px;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.posts__image-pagination .posts__image-pagination-item {
  display: block;
  width: 11px;
  height: 11px;
  background-color: #ffffff;
  opacity: 0.3;
  border-radius: 50%;
  border: 2px solid transparent;
  margin: 0 9px 0 0;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

@media (min-width: 998px) {
  .posts__image-pagination .posts__image-pagination-item:hover {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #d3c1ad;
  }
}

.posts__image-pagination .posts__image-pagination-item:active {
  background-color: #af8141;
  border: 2px solid #af8141;
}

.posts__image-pagination .posts__image-pagination-item:last-child {
  margin: 0;
}

.posts__item-title {
  font-family: Raleway;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  color: #555555;
  margin: 0 0 19px 29px;
}

.posts__item-text {
  font-family: montserrat;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #ffffff;
  color: #8c8c8c;
  margin: 0 0 27px 29px;
}

.posts__more {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-family: montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  color: #c7b299;
  margin: 0 0 33px 29px;
  position: relative;
}

.posts__more::after {
  content: "";
  display: block;
  position: absolute;
  border-top: 4px solid transparent;
  border-left: 5px solid #c7b299;
  border-bottom: 4px solid transparent;
  top: 6px;
  right: -17px;
}

.posts__data-container {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 50px;
  height: 60px;
  text-align: center;
}

.posts__data {
  font-family: montserrat;
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  line-height: 35px;
  background-color: #363636;
  border-radius: 3px 3px 0px 0px;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.posts__month {
  display: block;
  font-family: Roboto;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #252525;
  border-radius: 0px 0px 3px 3px;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.posts__pagination {
  margin: 0 auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.posts__pagination-image1 {
  margin: 0 8px 0 0;
  fill: #d1d1d1;
}

.posts__pagination-image2 {
  margin: 0 8px 0 0;
  fill: #c7b299;
}
/*# sourceMappingURL=posts.css.map */