.slider-overflow {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
.slider-container {
    width: 500%;
    min-height: 100vh;
    display: flex;
}

.slider1 {
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: url("../img/header_background.jpg") 0 0 no-repeat;
    background-color: #15181f;
    background-size: cover;
    z-index: 2;
    margin: 0;
    transition: $trans;

    /*&__left {
        display: block;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        border-top: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
        opacity: 0.5;
        transform: rotate(-45deg);
        transition: $trans;

        @media (min-width: $media998) {
            &:hover {
                border-top: 2px solid $hover-color;
                border-left: 2px solid $hover-color;
            }
        }
        &:active {
            border-top: 2px solid $active-color;
            border-left: 2px solid $active-color;
        }
    }*/

    &__content {
        max-width: 600px;
        margin: 0 auto;
    }
    &__sub-title {
        @include raleway(24, 1.2, 500);
        margin: 0 0 14px 0;

        @media (min-width: 620px) {
            & {
                @include raleway(36, 1.2, 500);
            }
        }
    }
    &__title {
        @include raleway(36, 1.2, 800);
        margin: 0 0 19px 0;

        @media (min-width: 620px) {
            & {
                @include raleway(52, 1.2, 800);
            }
        }
    }
    &__text {
        @include montserrat(16, 24px, 300);
        margin: 0 0 52px 0;
    }
    &__button {
        @include button-style;
        transition: $trans;

        @media (min-width: $media998) {
            &:hover {
                @include button-hover;
            }
        }
        &:active {
            @include button-active;
        }
    }

    /*&__right {
        display: block;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        border-top: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        opacity: 0.5;
        transform: rotate(45deg);

        @media (min-width: $media998) {
            &:hover {
                border-top: 2px solid $hover-color;
                border-right: 2px solid $hover-color;
            }
        }
        &:active {
            border-top: 2px solid $active-color;
            border-right: 2px solid $active-color;
        }
    }*/
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
}

.slider2 {
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: url("../img/foto-slider-2.jpg") 0 0 no-repeat;
    background-color: #15181f;
    background-size: cover;
    z-index: 2;
    transition: $trans;
    margin: 0 0 0 100%;

    /*&__left {
        display: block;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        border-top: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
        opacity: 0.5;
        transform: rotate(-45deg);
        transition: $trans;

        @media (min-width: $media998) {
            &:hover {
                border-top: 2px solid $hover-color;
                border-left: 2px solid $hover-color;
            }
        }
        &:active {
            border-top: 2px solid $active-color;
            border-left: 2px solid $active-color;
        }
    }*/

    &__content {
        max-width: 600px;
        margin: 0 auto;
    }
    &__sub-title {
        @include raleway(24, 1.2, 500);
        margin: 0 0 14px 0;

        @media (min-width: 620px) {
            & {
                @include raleway(36, 1.2, 500);
            }
        }
    }
    &__title {
        @include raleway(36, 1.2, 800);
        margin: 0 0 19px 0;

        @media (min-width: 620px) {
            & {
                @include raleway(52, 1.2, 800);
            }
        }
    }
    &__text {
        @include montserrat(16, 24px, 300);
        margin: 0 0 52px 0;
    }
    &__button {
        @include button-style;
        transition: $trans;

        @media (min-width: $media998) {
            &:hover {
                @include button-hover;
            }
        }
        &:active {
            @include button-active;
        }
    }

    /*&__right {
        display: block;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        border-top: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        opacity: 0.5;
        transform: rotate(45deg);

        @media (min-width: $media998) {
            &:hover {
                border-top: 2px solid $hover-color;
                border-right: 2px solid $hover-color;
            }
        }
        &:active {
            border-top: 2px solid $active-color;
            border-right: 2px solid $active-color;
        }
    }*/

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
}

.slider3 {
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: url("../img/foto-slider-3.jpg") 0 0 no-repeat;
    background-color: #15181f;
    background-size: cover;
    z-index: 2;
    transition: $trans;
    margin: 0 0 0 100%;

    /*&__left {
        display: block;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        border-top: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
        opacity: 0.5;
        transform: rotate(-45deg);
        transition: $trans;

        @media (min-width: $media998) {
            &:hover {
                border-top: 2px solid $hover-color;
                border-left: 2px solid $hover-color;
            }
        }
        &:active {
            border-top: 2px solid $active-color;
            border-left: 2px solid $active-color;
        }
    }*/

    &__content {
        max-width: 600px;
        margin: 0 auto;
    }
    &__sub-title {
        @include raleway(24, 1.2, 500);
        margin: 0 0 14px 0;

        @media (min-width: 620px) {
            & {
                @include raleway(36, 1.2, 500);
            }
        }
    }
    &__title {
        @include raleway(36, 1.2, 800);
        margin: 0 0 19px 0;

        @media (min-width: 620px) {
            & {
                @include raleway(52, 1.2, 800);
            }
        }
    }
    &__text {
        @include montserrat(16, 24px, 300);
        margin: 0 0 52px 0;
    }
    &__button {
        @include button-style;
        transition: $trans;

        @media (min-width: $media998) {
            &:hover {
                @include button-hover;
            }
        }
        &:active {
            @include button-active;
        }
    }

    /*&__right {
        display: block;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        border-top: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        opacity: 0.5;
        transform: rotate(45deg);

        @media (min-width: $media998) {
            &:hover {
                border-top: 2px solid $hover-color;
                border-right: 2px solid $hover-color;
            }
        }
        &:active {
            border-top: 2px solid $active-color;
            border-right: 2px solid $active-color;
        }
    }*/

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
}

.slider4 {
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: url("../img/foto-slider-4.jpg") 0 0 no-repeat;
    background-color: #15181f;
    background-size: cover;
    z-index: 2;
    transition: $trans;
    margin: 0 0 0 100%;

    /*&__left {
        display: block;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        border-top: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
        opacity: 0.5;
        transform: rotate(-45deg);
        transition: $trans;

        @media (min-width: $media998) {
            &:hover {
                border-top: 2px solid $hover-color;
                border-left: 2px solid $hover-color;
            }
        }
        &:active {
            border-top: 2px solid $active-color;
            border-left: 2px solid $active-color;
        }
    }*/

    &__content {
        max-width: 600px;
        margin: 0 auto;
    }
    &__sub-title {
        @include raleway(24, 1.2, 500);
        margin: 0 0 14px 0;

        @media (min-width: 620px) {
            & {
                @include raleway(36, 1.2, 500);
            }
        }
    }
    &__title {
        @include raleway(36, 1.2, 800);
        margin: 0 0 19px 0;

        @media (min-width: 620px) {
            & {
                @include raleway(52, 1.2, 800);
            }
        }
    }
    &__text {
        @include montserrat(16, 24px, 300);
        margin: 0 0 52px 0;
    }
    &__button {
        @include button-style;
        transition: $trans;

        @media (min-width: $media998) {
            &:hover {
                @include button-hover;
            }
        }
        &:active {
            @include button-active;
        }
    }

    /*&__right {
        display: block;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        border-top: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        opacity: 0.5;
        transform: rotate(45deg);

        @media (min-width: $media998) {
            &:hover {
                border-top: 2px solid $hover-color;
                border-right: 2px solid $hover-color;
            }
        }
        &:active {
            border-top: 2px solid $active-color;
            border-right: 2px solid $active-color;
        }
    }*/

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
}

.slider5 {
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: url("../img/foto-slider-5.jpeg") 0 0 no-repeat;
    background-color: #15181f;
    background-size: cover;
    z-index: 2;
    transition: $trans;
    margin: 0 0 0 100%;

    /*&__left {
        display: block;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        border-top: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
        opacity: 0.5;
        transform: rotate(-45deg);
        transition: $trans;

        @media (min-width: $media998) {
            &:hover {
                border-top: 2px solid $hover-color;
                border-left: 2px solid $hover-color;
            }
        }
        &:active {
            border-top: 2px solid $active-color;
            border-left: 2px solid $active-color;
        }
    }*/

    &__content {
        max-width: 600px;
        margin: 0 auto;
    }
    &__sub-title {
        @include raleway(24, 1.2, 500);
        margin: 0 0 14px 0;

        @media (min-width: 620px) {
            & {
                @include raleway(36, 1.2, 500);
            }
        }
    }
    &__title {
        @include raleway(36, 1.2, 800);
        margin: 0 0 19px 0;

        @media (min-width: 620px) {
            & {
                @include raleway(52, 1.2, 800);
            }
        }
    }
    &__text {
        @include montserrat(16, 24px, 300);
        margin: 0 0 52px 0;
    }
    &__button {
        @include button-style;
        transition: $trans;

        @media (min-width: $media998) {
            &:hover {
                @include button-hover;
            }
        }
        &:active {
            @include button-active;
        }
    }

    /*&__right {
        display: block;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        border-top: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        opacity: 0.5;
        transform: rotate(45deg);

        @media (min-width: $media998) {
            &:hover {
                border-top: 2px solid $hover-color;
                border-right: 2px solid $hover-color;
            }
        }
        &:active {
            border-top: 2px solid $active-color;
            border-right: 2px solid $active-color;
        }
    }*/

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
}

#slider1:checked ~ .header__pagination .header__pagination-item:nth-child(1) {
    background-color: transparent;
    border: 2px solid #d3c1ad;
}

#slider2:checked ~ .slider-overflow .slider-container .slider2 {
    margin: 0;
}
#slider2:checked ~ .slider-overflow .slider-container .slider1 {
    margin: 0 0 0 -100%;
}
#slider2:checked ~ .header__pagination .header__pagination-item:nth-child(2) {
    background-color: transparent;
    border: 2px solid #d3c1ad;
}

#slider3:checked ~ .slider-overflow .slider-container .slider3 {
    margin: 0;
}
#slider3:checked ~ .slider-overflow .slider-container .slider2 {
    margin: 0 0 0 -100%;
}
#slider3:checked ~ .header__pagination .header__pagination-item:nth-child(3) {
    background-color: transparent;
    border: 2px solid #d3c1ad;
}

#slider4:checked ~ .slider-overflow .slider-container .slider4 {
    margin: 0;
}
#slider4:checked ~ .slider-overflow .slider-container .slider3 {
    margin: 0 0 0 -100%;
}
#slider4:checked ~ .header__pagination .header__pagination-item:nth-child(4) {
    background-color: transparent;
    border: 2px solid #d3c1ad;
}

#slider5:checked ~ .slider-overflow .slider-container .slider5 {
    margin: 0;
}
#slider5:checked ~ .slider-overflow .slider-container .slider4 {
    margin: 0 0 0 -100%;
}
#slider5:checked ~ .header__pagination .header__pagination-item:nth-child(5) {
    background-color: transparent;
    border: 2px solid #d3c1ad;
}
