.slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 2;

    &__left {
        display: block;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        border-top: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
        opacity: 0.5;
        transform: rotate(-45deg);
        transition: $trans;

        @media (min-width: $media998) {
            &:hover {
                border-top: 2px solid $hover-color;
                border-left: 2px solid $hover-color;
            }
        }
        &:active {
            border-top: 2px solid $active-color;
            border-left: 2px solid $active-color;
        }
    }

    &__content {
        max-width: 600px;
        margin: 0 auto;
    }
    &__sub-title {
        @include raleway(36, 1.2, 500);
        margin: 0 0 14px 0;
    }
    &__title {
        @include raleway(52, 1.2, 800);
        margin: 0 0 19px 0;
    }
    &__text {
        @include montserrat(16, 24px, 300);
        margin: 0 0 52px 0;
    }
    &__button {
        @include button-style;
        transition: $trans;

        @media (min-width: $media998) {
            &:hover {
                @include button-hover;
            }
        }
        &:active {
            @include button-active;
        }
    }

    &__right {
        display: block;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        border-top: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        opacity: 0.5;
        transform: rotate(45deg);

        @media (min-width: $media998) {
            &:hover {
                border-top: 2px solid $hover-color;
                border-right: 2px solid $hover-color;
            }
        }
        &:active {
            border-top: 2px solid $active-color;
            border-right: 2px solid $active-color;
        }
    }
}
