@font-face {
    font-family: "montserrat";
    font-style: normal;
    font-weight: 200;
    src: local("Awesome Font"), url("../fonts/montserrat-extralight.woff2") format("woff2"),
        url("../fonts/montserrat-extralight.woff") format("woff"),
        url("../fonts/montserrat-extralight.ttf") format("ttf"), url("../fonts/montserrat-extralight.eot") format("eot"),
        url("../fonts/montserrat-extralight.eot?#iefix") format("embedded-opentype");
}

@font-face {
    font-family: "montserrat";
    font-style: normal;
    font-weight: 300;
    src: local("Awesome Font"), url("../fonts/montserrat-light.woff2") format("woff2"),
        url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.ttf") format("ttf"),
        url("../fonts/montserrat-light.eot") format("eot"),
        url("../fonts/montserrat-light.eot?#iefix") format("embedded-opentype");
}

@font-face {
    font-family: "montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Awesome Font"), url("../fonts/montserrat-regular.woff2") format("woff2"),
        url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("ttf"),
        url("../fonts/montserrat-regular.eot") format("eot"),
        url("../fonts/montserrat-regular.eot?#iefix") format("embedded-opentype");
}

@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 700;
    src: local("Awesome Font"), url("../fonts/raleway-bold.woff2") format("woff2"),
        url("../fonts/raleway-bold.woff") format("woff"), url("../fonts/raleway-bold.ttf") format("ttf"),
        url("../fonts/raleway-bold.eot") format("eot"),
        url("../fonts/raleway-bold.eot?#iefix") format("embedded-opentype");
}

@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 800;
    src: local("Awesome Font"), url("../fonts/raleway-extrabold.woff2") format("woff2"),
        url("../fonts/raleway-extrabold.woff") format("woff"), url("../fonts/raleway-extrabold.ttf") format("ttf"),
        url("../fonts/raleway-extrabold.eot") format("eot"),
        url("../fonts/raleway-extrabold.eot?#iefix") format("embedded-opentype");
}

@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 500;
    src: local("Awesome Font"), url("../fonts/raleway-medium.woff2") format("woff2"),
        url("../fonts/raleway-medium.woff") format("woff"), url("../fonts/raleway-medium.ttf") format("ttf"),
        url("../fonts/raleway-medium.eot") format("eot"),
        url("../fonts/raleway-medium.eot?#iefix") format("embedded-opentype");
}

@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 400;
    src: local("Awesome Font"), url("../fonts/raleway-regular.woff2") format("woff2"),
        url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("ttf"),
        url("../fonts/raleway-regular.eot") format("eot"),
        url("../fonts/raleway-regular.eot?#iefix") format("embedded-opentype");
}

@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 600;
    src: local("Awesome Font"), url("../fonts/raleway-semibold.woff2") format("woff2"),
        url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("ttf"),
        url("../fonts/raleway-semibold.eot") format("eot"),
        url("../fonts/raleway-semibold.eot?#iefix") format("embedded-opentype");
}

@font-face {
    font-family: "roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Awesome Font"), url("../fonts/roboto-regular.woff2") format("woff2"),
        url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("ttf"),
        url("../fonts/roboto-regular.eot") format("eot");
}
